---
---

//
// IMPORTS
//
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background: $white;
  font-family: $sans;
  font-weight: 400;
  line-height: 1.7;
  color: $darkGray;
  letter-spacing: -0.01em;
  word-spacing: -0.008em;
  margin: 1em calc(45.25% - 273.6px);
  font-size: calc(0.5vw + 28.8px);
  @include mobile {
    margin: 2% 2.5%;
    font-size: 5vw;
  }
}

.container {
  font-size: 54%;
}
h1 {
  font-size: 120%;
  font-weight: 600;
  line-height: 1.4;
  color: $darkerGray;
  margin-bottom: .3em;
  margin-top: .3em;
}

// SUBTITLE
h2 {
  font-size: 110%;
  color: $darkerGray;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 105%;
  color: $darkerGray;
}

h4 {
  font-weight: 600;
}

// CAPTION
h5 {

}

// BYLINE
h6 {

}

p {
  margin-bottom: 1.2em;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  &:hover, &:active {
    color: $gray;
    text-decoration: none;
  }
}

ul, ol {
  margin: .25em 0;
  padding-left: .3em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 80%;
  border-radius: 5px;
  margin: auto;
  display: block;
}

#fn1 {
  color: $gray;
  font-size: 50%;
  padding: 2em 2em 0;
  border-top: 1px solid $lightGray;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

table {
  margin-bottom: 1.25em;
}

article {
  margin-bottom: 2.5em;
}

blockquote {
  margin: .8em;
  border-left: 2px solid $gray;
  padding: 0 1em;
  color: $gray;
  font-size: 100%;
}
footer {
  text-align: center;
  a {
    color: $gray;
    text-decoration: none;
  }
}


th, td {
  font-size: 90%;
  padding: .35em;
  border-bottom: 1px solid $gray;
}

th {
  font-weight: 700;
  padding-top: .5em;
}

tr:hover {
  background-color: $lightGray
}

.subtitle {
  font-size: 95%;
  color: $gray;
  margin-bottom: 2em;

}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: .5em;
}

.masthead {
  border-bottom: 1px solid $lightGray;
  text-align: center;
}

nav {
  text-align: center;
  font-size: 150%;
  a {
    color: $darkGray;
    text-align: center;
    text-decoration: none;
      &:hover, &:active {
        color: $gray;
      }
  }
}
/* .site-avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $vesper;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0px;
  a {
  text-decoration: none;
  cursor: pointer;
    &:hover, &:active {
      color: inherit;
    }
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 18px;
  font-family: $vesper;

  @include mobile {
    margin: 3px 0;
  }
} */




//
// .main
//

#home {
  a {
    text-decoration: none;
      &:hover, &:active {
          color: inherit;
    }
  }
}

.posts > .post {
}

.posts > .post:last-child {
}

.post {
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
