
//
// VARIABLES
//

// Colors
$blue: #2aa198;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$lightGray: #eee;
$white: #fff;

// Font stacks
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
