
//
// VARIABLES
//

// Colors
$blue: #2aa198;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$lightGray: #eee;
$white: #fff;

// Font stacks
$vesper: 'Vesper Libre', serif;
$montserrat: 'Montserrat', sans-serif;
$cardo: 'Cardo', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
